.fx {
  display: flex !important;
}

.fx-cc {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.fxdc {
  flex-direction: column;
}

.fxdr {
  flex-direction: row;
}

.fxdr-s {
  flex-direction: row;
}

.fxdr-m {
  flex-direction: row;
}

.fxdr-l {
  flex-direction: row;
}

.fxdrerow {
  flex-direction: row-reverse;
}

.fjcc {
  justify-content: center;
}

.fjcsb {
  justify-content: space-between;
}

.fjcfs {
  justify-content: flex-start;
}

.fjcfe {
  justify-content: flex-end;
}

.faibl {
  align-items: baseline;
}

.faic {
  align-items: center;
}

.faifs {
  align-items: flex-start;
}

.fxww {
  flex-wrap: wrap;
}
body {
  background-color: rgb(233, 233, 233);
}
.main {
  position: fixed;
  width: 100%;
  height: 100%;
}
.tab-container {
  position: relative;
  height: 74%;

  width: 100%;
  overflow-x: hidden;
}

.audio-player {
  width: 100%;
  height: 15%;
  position: relative;
  background-color: #f1f1f17a;
  padding: 0 10px 10px 10px;
}
.head {
  width: 100%;
  height: 11%;
}
.audio-length {
}
.progres-bar-container {
  width: 100%;
  height: 20px;
}

.progres-bar {
  width: 100%;
  height: 30%;
  background-color: #d7d7d7;
  position: relative;
  border-radius: 5px;
}
.value {
  background-color: #ffa50085;
  position: absolute;
  border-radius: 5px;
  width: 0;
  left: 0;
  transition: width;
  height: 100%;
}
.seeker-tomb {
  width: 10px;
  height: 10px;
  background-color: #e9a830;
  box-shadow: 0px 0px 1px 1px #c88100;
  position: absolute;
  right: -5px;
  border-radius: 50%;
}
.time {
  padding: 5px 5px 3px 5px;
}
.time span {
  font-size: 10px;
}
.mini-name {
  max-height: 30px;
  overflow: hidden;
}

.header {
  background-color: #e6ac01;
  height: 50%;
  padding: 0 10px;
}
.header h5 {
  margin: 0px !important;
  font-style: italic !important;
}
.search-box {
  border: 1px solid #e6ac01;
  width: 180px;
  height: 30px !important;
  overflow: hidden;
  padding: 0;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 1px #3838381f;
}

.search-input {
  border: none;
  height: 100%;
  padding: 8px;
  width: 80%;
  outline: none;
  font-size: 12px;
}
.search-button {
  border: none;
  height: 108%;
  width: 21%;
  padding: 0 !important;
  border-left: 1px solid #c6c6c6;
  font-size: 9px;
}
.tab-items {
  height: 50%;
}
button.tab-item {
  background-color: #ffc107;
  color: white;
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
  border: none;
}
button.tab-item:hover {
  background-color: #fccf49 !important;
}

button.tab-item:focus {
  outline: unset;
}
button.tab-item:focus::after {
  outline: unset;
  content: "";
  position: absolute;
  bottom: 2px;
  width: 90%;
  height: 3px;
  background-color: white;
}
.audio-player button,
.list-play-button {
  width: 40px;
  height: 40px;
  padding: 3px !important;
  font-size: 12px !important;
  border-radius: 50% !important;
}
.songs {
  margin: 3px 0;
  padding: 5px 15px;
}
.songs:hover {
  cursor: pointer;
  background-color: rgb(233, 233, 233);
}
.song-title {
  height: 25px;
  overflow: hidden;
}
.song-artist {
  font-size: 12px;
  color: rgb(121, 121, 121);
}
.song-cover {
  background-image: url(http://uupload.ir/files/15ws_cover.jpg);
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.mini-song-info {
  width: 80%;
}
.mini-song-title {
  font-size: 16px;
}
.mini-song-artist {
  font-size: 12px;
}
.mini-song-cover {
  background-image: url(http://uupload.ir/files/15ws_cover.jpg);
  background-size: contain;
  width: 50px;
  height: 50px;
  margin-right: 8px;
}
.content {
  position: absolute;
  left: 0px;
  transition: 0.6s;
}
.tab-content {
  padding: 0px 5px;
  overflow-y: scroll;
  background-color: #efefef;
}
.tab-contetnt-wrapper {
  height: fit-content;
  padding: 10px 0px;
}
.tab-content::-webkit-scrollbar {
  padding-right: 2px;
  width: 3px;
  border-radius: 2px;
}

/* Track */
.tab-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2px;
}
.tab-content::-webkit-scrollbar-thumb {
  background: #818181;
  border-radius: 2px;
}

.artist-album {
  width: 20%;
  height: 220px;
  margin: 5px;
  background-color: white;
  border-radius: 5px;
  padding-top: 1px;
  box-shadow: 0px 0px 6px 2px #cacaca;
  position: relative;
}
.artist-album-cover {
  background-image: url(http://uupload.ir/files/15ws_cover.jpg);
  background-position: center;
  background-size: cover;
  width: 98%;
  height: 100px;
  overflow: hidden;
  border-radius: 3px 3px 0px 0px;
  position: relative;
}
.artist-album-cover img {
  position: relative;
}
.artist-album-name {
  width: 100%;
  height: 40px;
  padding: 3px 8px;

  position: relative;
}
.artist-album-name span {
  overflow: hidden;
}
.artist-album button {
  position: absolute;
  bottom: 5px;
  right: 5%;
  width: 30px;
  height: 30px;
  font-size: 10px !important;
}

.albums-tab .artist-album-name {
  height: 50px;
}
.artist-album-name span:nth-child(1) {
  height: 100%;
}
.albums-tab .artist-album-name span:nth-child(2) {
  font-size: 12px;
  color: rgb(102, 102, 102);
}

@media (min-width: 1024px) {
  .artist-album-cover {
    height: 160px;
  }
}
@media (max-width: 1024px) {
  .artist-album {
    height: 170px;
  }
}
@media (max-width: 768px) {
  .artist-album {
    width: 30%;
    height: 140px;
  }
  .artists-tab .artist-album {
    height: 130px !important;
  }
}
@media (max-width: 414px) {
  .artist-album {
    width: 190px;
    height: 100px;
  }
  .albums-tab .artist-album {
    height: 120px !important;
  }
}

@media (max-width: 375px) {
  .mini-song-title {
    font-size: 14px;
  }
  .mini-song-artist {
    font-size: 10px;
  }
  .mini-song-cover {
    width: 35px;
    height: 35px;
    margin-right: 8px;
  }
  .artist-album {
    width: 170px;
  }
}
@media (max-width: 320px) {
  .artist-album {
    width: 140px;
  }
}
